body {
  background-image: url("bild\ for\ weather.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.weather-container {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 25px;
}

p {
  font-size: 18px;
}

.top_part {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
  text-align: center;
}
.top_part nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.top_part nav ul li {
  flex: 1;
  display: inline-block;
  margin-right: 10px;
}

.top_part nav ul li a {
  font-size: 22px;
  text-decoration: none;
  color: #333;
  display: block;
  text-align: center;
}
.content {
  display: flex;
  color: blue;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; 
  text-align: center;
}

.content p {
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
